<div class="hom">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LFR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href='/authors'>Authors</a>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
             </ul>
        </li>
      <li class="nav-item">
        <a class="nav-link" href='/books'>Books</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="myform"action="/search">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search for book" aria-label="Search">
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" form="myform">Search</button>
  </div>
</nav>
    <h1>Welcome to LFR</h1>
    <p>Livraria Fictícia do Rafinha</p>

</div>