<h1>Search results</h1>
    <% if (@books) %>
        <% if (@books.empty?) %>
            <p>No results found.</p>
        <% else %>
            <span> <%= @books.count %> results found! </span>
            <%=render @books%>
        <% end %>
    <% end %>
<%=link_to "Homepage", homepage_index_path%>





