/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .authorbox{
    border: 4mm ridge;
    border-color: rgb(255, 98, 80);
    width: 280px;
    height: 230px;
    background-color: rgb(9, 70, 39);
    color:rgb(222, 191, 41);
 }
 .bookbox{
    border: 4mm ridge;
    border-color: coral;
    width: 280px;
    height: 230px;
    background-color:rgb(6, 64, 67);
    color: rgb(241, 149, 11);
 }
 .groundbreak{
    background-color:rgb(52, 29, 21);
 }
